<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.36">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.5.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.5.0">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>ADKU3</string>
        <string>SKIP_JARVICE_TEST</string>
        <string>SKIP_DOCKER_TEST</string>
        <string>N250S</string>
        <string>VIVADO_VERSION_CHOICE</string>
        <string>MARKETPLACE</string>
        <string>VIVADO_ADDITIONAL_VERSION_CHOICE</string>
        <string>ONLY_RUN_JARVICE_TEST</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty plugin="workflow-multibranch@2.21">
      <branch plugin="branch-api@2.5.5">
        <sourceId>50d72715-7cad-4a40-abe8-e86a71094138</sourceId>
        <head class="org.jenkinsci.plugins.github_branch_source.BranchSCMHead" plugin="github-branch-source@2.5.8">
          <name>fabv1.3.0</name>
        </head>
        <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
              <name>origin</name>
              <refspec>+refs/heads/fabv1.3.0:refs/remotes/origin/fabv1.3.0</refspec>
              <url>https://github.ibm.com/nimbix-cloud/snap-dev-env.git</url>
              <credentialsId>IBMGitHub</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches class="singleton-list">
            <hudson.plugins.git.BranchSpec>
              <name>fabv1.3.0</name>
            </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <browser class="hudson.plugins.git.browser.GithubWeb">
            <url>https://github.ibm.com/nimbix-cloud/snap-dev-env</url>
          </browser>
          <submoduleCfg class="empty-list"/>
          <extensions>
            <jenkins.plugins.git.GitSCMSourceDefaults>
              <includeTags>false</includeTags>
            </jenkins.plugins.git.GitSCMSourceDefaults>
          </extensions>
        </scm>
        <properties>
          <jenkins.branch.NoTriggerBranchProperty/>
        </properties>
        <actions>
          <org.jenkinsci.plugins.github__branch__source.GitHubLink plugin="github-branch-source@2.5.8">
            <iconClassName>icon-github-branch</iconClassName>
            <url>https://github.ibm.com/nimbix-cloud/snap-dev-env/tree/fabv1.3.0</url>
          </org.jenkinsci.plugins.github__branch__source.GitHubLink>
          <jenkins.scm.api.metadata.ObjectMetadataAction plugin="scm-api@2.6.3">
            <objectDisplayName>fabv1.3.0</objectDisplayName>
            <objectUrl>https://github.ibm.com/nimbix-cloud/snap-dev-env/tree/fabv1.3.0</objectUrl>
          </jenkins.scm.api.metadata.ObjectMetadataAction>
        </actions>
      </branch>
    </org.jenkinsci.plugins.workflow.multibranch.BranchJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>MARKETPLACE</name>
          <description>If set to False, skip stages (build, push, pull) for IBM Marketplace</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SKIP_DOCKER_TEST</name>
          <description>Skip docker tests (for repeat runs)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>SKIP_JARVICE_TEST</name>
          <description>Skip JARVICE tests (for repeat runs)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ONLY_RUN_JARVICE_TEST</name>
          <description>Run JARVICE development test only</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>ADKU3</name>
          <description>Run ADKU3 steps if true</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>N250S</name>
          <description>Run N250S steps if true</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>VIVADO_VERSION_CHOICE</name>
          <description>Choose the Vivado version to use</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2018.1</string>
              <string>2018.3</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>VIVADO_ADDITIONAL_VERSION_CHOICE</name>
          <description>Choose the Vivado version to additionally add to the images</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>2018.3</string>
              <string>none</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.multibranch.SCMBinder" plugin="workflow-multibranch@2.21">
    <scriptPath>Jenkinsfile</scriptPath>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>