<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Role in order to backup Jenkins Roles configurations (config.xml files)</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.jira.JiraProjectProperty plugin="jira@3.0.11"/>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.29.5">
      <projectUrl>git@github.com:fmoyen/MopjenkinsRolesBackup.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>BRANCH</name>
          <description></description>
          <defaultValue>master</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.0.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:fmoyen/MopjenkinsRolesBackup.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H(0-59)/30 * * * *</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

JobsDir=&quot;$HOME/jobs&quot;
GitRepo=$PWD
DisplayCount=20

git checkout $BRANCH
git pull

echo; echo &quot;--&gt; Jenkins jobs config $JobsDir&quot;
cd $JobsDir
JobsCount=`find . -name config.xml -exec ls -latr {} + | wc -l`
echo &quot;$JobsCount config files... The $DisplayCount last files are:&quot;
echo &quot;...&quot;; find . -name config.xml -exec ls -latr {} + | tail -$DisplayCount

echo; echo &quot;--&gt; Git repository directory $GitRepo&quot;
cd $GitRepo
GitCount=`find . -name config.xml -exec ls -latr {} + | wc -l`
echo &quot;$GitCount config files... The $DisplayCount last files are:&quot;
echo &quot;...&quot;; find . -name config.xml -exec ls -latr {} + | tail -$DisplayCount

echo; echo &quot;--&gt; Copy jenkins jobs config.xml files to git repository directory&quot;
cd $JobsDir
for i in $(find . -name config.xml -print)
do
  dir=$(dirname $i | cut -c3-)
  #echo $dir
  mkdir -p $GitRepo/$dir
  cp --preserve=all $i $GitRepo/$dir
done

echo

#echo; echo &quot;--&gt; Updated Git repository $GitRepo&quot;
#cd $GitRepo; find . -name config.xml -exec ls -latr {} +;

echo; echo &quot;--&gt; Commit&quot;
cd $GitRepo
git add .
git commit -a --dry-run --porcelain &gt; /tmp/msg.txt
git commit -a --file=/tmp/msg.txt
rm /tmp/msg.txt

echo; echo &quot;--&gt; Push&quot;
git push
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>